DEBUG=False
SECRET_KEY=orders-svc-secret-key-change-in-prod-2026
ALLOWED_HOSTS=localhost,127.0.0.1,10.0.2.2
DATABASE_URL=postgresql://orders_user:orders_dev_secret_2026@localhost:5432/db_orders
PORT=8003
INTERNAL_TOKEN=internal_service_mesh_secret_2026
CATALOG_SERVICE_URL=http://localhost:8002
FULFILLMENT_SERVICE_URL=http://localhost:8004
IDENTITY_SERVICE_URL=http://localhost:8001
