PORT=8005
DEBUG=False
SECRET_KEY=content_svc_secret_key_change_in_prod_2026
ALLOWED_HOSTS=*
DATABASE_URL=postgresql://content_user:content_dev_secret_2026@postgres:5432/db_content
INTERNAL_TOKEN=internal_service_mesh_secret_2026
